These values are used by the variables.tf of each environment directory
Please be properly aligned with what variables are you going to use for 
the project.

# Required
project_name                    = "" (Required)
state_lock_region               = "" (Required)
aws_profile                     = "" (Required)
cognito_domain_prefix           = "" (Required)
vpc_id                          = "" (Required)
security_group_ids              = [] (Required)
private_subnet_ids              = [] (Required)
microsoft_saml_metadata_url     = "  (Required)
cognito_callback_urls           = [] (Required)
cognito_logout_urls             = [] (Required)
mongodb_uri                     = "" (Required)
redshift_hostName               = "" (Required)
redshift_database               = "" (Required)
redshift_secrets = {
  username = "" (Required)
  password = "" (Required)
}


# Optional
region                          = "" (Use only if you are aware of its functionality)
environment                     = "" (Use only if you are aware of its functionality)
